.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* starting ENTER animation */
.messageout-enter {
  position: absolute;
  top: 0;
  opacity: 0.01;
  transition: opacity 200ms ease-in-out;

}

/* ending ENTER animation */
.messageout-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

/* starting EXIT animation */
.messageout-exit {
  opacity: 1;
  transition: opacity 200ms ease-in-out;

}

/* ending EXIT animation */
.messageout-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
